.chat-main{
  background-color: #08123E;
  display:flex;
}
.chat-body{
     display: flex;
     flex-direction: column;
     width:100vw;
     position: fixed;
}
.chat-sidebar-tablet{
    height:100vh;
    z-index:500;
     background-color:  #202951;
}
.chat-sidebar-laptop{
    height:100vh;
    z-index:500;
    background-color:  #202951;
}
.chat-header{
    display:flex;
     /* background-color:  #202951;  */
    justify-content: space-between;
    align-items: center;
    height:45px;
}
.ai-name{
    color:white;
    font-size :30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}
.chat-profile-img{
    margin-right: 20px;
    border:2px solid black;
    display: flex;
    height:40px;
    width:40px;
    justify-content: center;
    border-radius: 30px;
    background-color: #08123E;
}
.chat-main-content{
    height:calc(100vh - 200px);
    width:65%;
    align-self: center;
    padding:20px;
    margin:20px;
    box-sizing: border-box;
    

}

.chat-search-box{
    height:100px;
    width:100%;  
    display: flex;
    justify-content: center;
}


.chat-search-box-inner{
    background-color:  #202951;
    height:100%;
    width:65%;
    border-radius: 20px;

}

@media(max-width:766px){
    
    .chat-body{
        width: 100vw !important;;
    }
    .chat-main-content{
        width:90%;
    }
    .chat-search-box-inner{
        width:90%;
    }
    .chat-sidebar-tablet{
        display:none;
    }
    .chat-sidebar-laptop{
        display:none;
    }
}

@media(min-width:766px) and (max-width:1022px){
    .chat-sidebar-laptop{
        display:none;
    }
}
@media(min-width:1022px){
    .chat-sidebar-tablet{
        display:none;
    }
}
