.chat-main{
  background-color: #08123E;
  display:flex;
}
.chat-body{
     display: flex;
     flex-direction: column;
     width:100vw;
     position: fixed;
}
.chat-sidebar-tablet{
    height:100vh;
    z-index:500;
     background-color:  #202951;
}
.chat-sidebar-laptop{
    height:100vh;
    z-index:500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #202951;
    box-sizing: border-box;
    padding:10px;
    padding-top: 15px;
}

.chat-sidebar-newchat-container{
    display:flex;
    gap:3px;
    align-items: center;
    padding:3px;
}
.chat-sidebar-newchat-text{
    font-size:22px;
    font-family: sans-serif;
    color:white;
    margin-top: 1px;
    
}
.chat-sidebar-newchat-container:hover{
    border-radius:4px;
    background-color:#08123E;
    box-sizing: border-box;
    width:150px;
    
}






.chat-header{
    display:flex;
     /* background-color:  #202951;  */
    justify-content: space-between;
    align-items: center;
    height:45px;
}
.ai-name{
    color:white;
    font-size :30px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:sans-serif;
    letter-spacing: 3px;
}
.chat-expand-name{
    display: flex;
    gap:10px;
}
.chat-mobile-expand{
    width:35px;
    height:35px;
    margin:auto;
    margin-left: 20px;

}

.chat-profile-img{
    margin-right: 20px;
    border:2px solid black;
    display: flex;
    height:40px;
    width:40px;
    justify-content: center;
    border-radius: 30px;
    background-color: #08123E;
}


.chat-search-box{
    /* height:100px; */
    width:100%;  
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:5vh;
}


.chat-search-box-inner{
    background-color:  #202951;
    height:100%;
    width:65%;
    border-radius: 20px;

}
.chat-sidebar-first{
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-content: left;
    position: static;
    left:20px;
}
.chat-sidebar-eachicon{
    height:25px;
    width:25px;
}
.chat-expand{
    align-self: flex-end;
}
.chat-plus{
    height:30px;
    width:30px;
}

.chat-main-content{
    height:calc(100vh - 200px);
    width:65%;
    align-self: center;
    padding:20px;
    margin:20px;
    box-sizing: border-box;
    background-color: #272626;
    display:flex;
    gap:40px;
    flex-direction: column;
    overflow-y:scroll;
}


.prompt-container{
    display:flex;
    gap:20px;
}
.response-prompt-text{
    font-size:20px;
    font-family:sans-serif;
    align-self: flex-start;
    color:white;
}

.response-container{
    display:flex;
    gap:20px;
    align-items: flex-start;
}

.response-text{
    font-size:20px;
    font-family:sans-serif;
    align-self: flex-start;
    color:white;
}


.chat-home-heading{
    font-size:50px;
    color:goldenrod;
    /* padding-left: 10%; */
}
.chat-home-subheading{
    font-size: 25px;
    color:aqua;
    
}

.chat-search-prompt{
    width:94%;
    height:20px;
    display: flex;
    margin: auto;
    padding: 20px !important;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color:  #202951;
    outline: none;
    border:none;
    color:wheat;
}

.chat-search-prompt::-webkit-scrollbar{
    display: none;
}
.chat-search-prompt::placeholder{
    color:#7b7b7c;
}

.search-body-second{
    display: flex;
    padding:10px;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 5px;
    align-items: center;
    width:95%;
    margin-left: 1%;
}
.search-box-plus{
    height:25px;
}
.search-body-second-first{
    display: flex;
    align-items: center;
    gap:15px;
    
}
.search-box-deepsearch{
    font-size: 18px;
    color:rgb(98, 146, 112);
}




@media(max-width:766px){
    
    .chat-body{
        width: 100vw !important;;
    }
    .chat-main-content{
        width:90%;
    }
    .chat-search-box-inner{
        width:90%;
    }
    .chat-sidebar-tablet{
        display:none;
    }
    .chat-sidebar-laptop{
        display:none;
    }
}

@media(min-width:766px) and (max-width:1022px){
    .chat-sidebar-laptop{
        display:none;
    }
    .chat-mobile-expand{
        display:none;
    }
}
@media(min-width:1022px){
    .chat-sidebar-tablet{
        display:none;
    }
    .chat-mobile-expand{
        display:none;
    }
}
